<div class="counter-group red">
  <h2>紅組</h2>
  <div id="red-counter"></div>
  <div class="voter"></div>
</div>
<div class="counter-group white">
  <h2>白組</h2>
  <div id="white-counter"></div>
  <div class="voter"></div>
</div>
